In [1]:
x=100
y=200
print(x,y)

100 200

In [2]:
id(x)

1526754560

In [4]:
10+5

15

In [5]:
20-13

7

In [6]:
3*10

30

In [7]:
100/8

12.5

In [8]:
2**5

32

In [9]:
30//7
30%7

2

In [10]:
2+3*5

17

In [12]:
2**3**2

512

In [16]:
a=10
b=20
c=a+b
a=a+50
b=b+a
print(a,b,c)

60 80 30

In [25]:
a=10.5
b=11.
c=.5
print(a,b,c)

10.5 11.0 0.5

# float 정수, 문자- 실수로 변환하기

In [27]:
x=float(3)
y=float(100)
z=float(15.7)
print(x,y,z)

3.0 100.0 15.7

In [28]:
type(x); type(y); type(z)

float

In [29]:
abs(-3) 
divmod(17,4)
pow(2,5)

32

# 문자열 생성하기

In [30]:
s='python is great!'

In [34]:
print(s)

Python is great!

In [31]:
s="Python is great!"

In [35]:
print(s)

Python is great!

In [32]:
s='''Python is great!'''

In [36]:
print(s)

Python is great!

In [37]:
s="""Python is great!"""

In [38]:
print(s)

Python is great!

# 역슬래쉬를 이용하여 긴문자열 생성하기

### 홑따옴표 또는 쌍따옴표 한쌍을 사용할 때 역슬래쉬는 문자열이 연결됨을 의미

In [45]:
sentence='Python is the \
most popular programming \
language in these days.'

In [46]:
print(sentence)

Python is the most popular programming language in these days.

In [48]:
a='say"hello"to mom'

In [49]:
print(a)

say"hello"to mom

In [50]:
인사='hello world'

In [52]:
print(인사[0])

h

# 문자열 슬라이싱- 범위를 이용하여 문자열 일부 접근 lang

In [53]:
lang='python programming'

In [58]:
lang[1]

'y'

In [59]:
lang[3:10]

'hon pro'

In [64]:
a='hello'
b='world'
c=a+b
print(c)
d = a +' '+b
print(d)

helloworld
hello world

In [ ]:
score=95
x='Igot'+score+'in the exam '

#### I got 98 in the exam. 도출하려면

In [83]:
score=98
x='I got'+' ' + str(score)+' '+'in the exam'
print(x)

I got 98 in the exam

# 문자열 반복하기

In [84]:
a='hello'
a*3

'hellohellohello'

# 문자열 길이- len() 내장함수

In [90]:
과목='programming'
len(과목)
'r' in 과목
'gram' not in 과목
'abcd' in 과목

False

### 메소드는 객체에 어떤 일을 처리하도록 하는 코드 : 문자열.메소드()

In [97]:
 # 문자열을 모두 대문자로 바꿈
이름='steve jobs'
이름.upper()

'STEVE JOBS'

In [94]:
name='steve jobs'
name.upper()

'STEVE JOBS'

In [98]:
school='SOGANG UNIVERSITY'
school.lower()

'sogang university'

#### isuuper()메소드는 문자열이 모두 대문자이면 true를 반환
#### islower()메소드는 문자열이 모두 소문자이면 true를 반환

In [101]:
a='hello';b='WORLD'
a.isupper()

False

### capitalize() 첫문자를 대문자로 바꾼다.

In [102]:
이름='steve jobs made toy story'
이름.capitalize()

'Steve jobs made toy story'

### title() 문자열에서 각 다언으 첫문자들을 대문자로 바꾼다.

In [103]:
이름.title()

'Steve Jobs Made Toy Story'

### count() 부분 문자열을 센다.

In [105]:
국가='japan'
국가.count(a)

0

In [106]:
state='mississippi'
state.count('s')

4

#### find() 부분 문자열 찾아서 첫 인덱스 알려준다.

In [107]:
state.find('s')

2

In [108]:
state.find('s',5)

5

In [110]:
print("hello")

hello

In [111]:
print('hello')

hello

#### print() 함수는 괄호의 내용을 출력한다. 
##### 출력하고자 하는 값이 여러 개인 경우에는 콤마로 구분
###### print()함수의 경우, 할 때 각각의 값 사이에 공백 한개가 추가됨

In [112]:
x=10; y=5 ; z=7
print(x,y,z)

10 5 7

In [113]:
print(x)

10

In [114]:
print('hello world!')

hello world!

In [116]:
print('hello'+' '+'world!')

hello world!

In [117]:
print('hello'+ str(100))

hello100

# print() 함수 내에 사용하는 특수문자

In [118]:
# \ 다음줄과 연속임 \' ' \" " \n 개행문자(줄바꿈) \t 탭키

In [122]:
print('hello\
world')

helloworld

In [123]:
print('hello\'world\'!!')

hello'world'!!

In [124]:
print("hello\"world\" !! ")

hello"world" !!

In [125]:
print('hello"world"')

hello"world"

In [126]:
print('hello \\ world')

hello \ world

In [127]:
print('hello \n world \n phython \t programming ')

hello
 world
 phython 	 programming

## 출력문-%이용한 서식출력(문자열, 정수)

In [128]:
%whos

Variable   Type    Data/Info
----------------------------
a          str     hello
b          str     WORLD
c          str     helloworld
d          str     hello world
lang       str     python programming
name       str     steve jobs
s          str     Python is great!
school     str     SOGANG UNIVERSITY
score      int     98
sentence   str     Python is the most popula<...>g language in these days.
state      str     mississippi
x          int     10
y          int     5
z          int     7
과목         str     programming
국가         str     japan
이름         str     steve jobs made toy story
인사         str     hello world

In [129]:
이름='Alice'; 점수=95

In [133]:
print(x)

10

In [134]:
type(x)

str

In [139]:
x=input('정수를 입력하시오: ')

정수를 입력하시오: 99

In [141]:
int(x) +10

109

In [142]:
실수, 문자→ 정수로변환하기: int() 내장함수

SyntaxError: invalid character in identifier (<ipython-input-142-2ed35fb3647b>, line 1)

In [169]:
국어=int(input("국어 성적을 입력하세요. :"))
수학=int(input("수학 성적을 입력하세요. :"))
영어=int(input("영어 성적을 입력하세요. : "))
print("\n")
print("입력받은 성적")
print('-'*15)
print("국어 성적 : ", 국어)
print("수학 성적 : ", 수학)
print("영어 성적 : ", 영어)
print()
print("-"*15)
print()
total= 국어+영어+수학
average= total/3
print("총점 : " , total)
print("평균 : " , average )

국어 성적을 입력하세요. :33
수학 성적을 입력하세요. :33
영어 성적을 입력하세요. : 33


입력받은 성적
---------------
국어 성적 :  33
수학 성적 :  33
영어 성적 :  33

---------------

총점 :  99
평균 :  33.0

In [173]:
name=int(input("반지름을 입력하세요. : "))
print("반지름 : " , name)
print("원의 넓이 : ", )

반지름을 입력하세요. : 5
반지름 :  5