In [3]:
list(range(5))

[0, 1, 2, 3, 4]

In [5]:
list(range(21))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [9]:
a=list(range(10))

In [10]:
a

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [11]:
aaa=list(range(5,10))

In [12]:
aaa

[5, 6, 7, 8, 9]

In [13]:
for x in range(5):
    print(x)

0
1
2
3
4

In [14]:
for x in range(5,10,2):
    print(x)

5
7
9

In [15]:
names=['현기','유진','정원','일균','재성','정원','예지','주희']

In [16]:
for 이름 in names :
    print(이름)

현기
유진
정원
일균
재성
정원
예지
주희

In [17]:
for 문자 in "불타는 금요일 입니다. 치맥!" :
    print("a")

a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a

In [19]:
a='abcdefg'

In [20]:
a.upper()

'ABCDEFG'

In [22]:
for al_up in 'abcdefg' :
    print(al_up.upper())

A
B
C
D
E
F
G

In [23]:
for dan in range(2,10):
    for n in range(1,10):
        print(dan*n, end='')
        print()

2
4
6
8
10
12
14
16
18
3
6
9
12
15
18
21
24
27
4
8
12
16
20
24
28
32
36
5
10
15
20
25
30
35
40
45
6
12
18
24
30
36
42
48
54
7
14
21
28
35
42
49
56
63
8
16
24
32
40
48
56
64
72
9
18
27
36
45
54
63
72
81

In [56]:
int(input("성적을 입력하시오 :  "))

성적을 입력하시오 :  90

90

In [ ]:
for

In [26]:
score = {4:90, 2:80, 1:95, 5:88, 3:92}

In [27]:
score

{1: 95, 2: 80, 3: 92, 4: 90, 5: 88}

In [28]:
for x in score:
    print(x)

4
2
1
5
3

In [29]:
for k, v in score.items():
    print("key는 : ".k, end='')
    print("values: ", v, )

AttributeError: 'str' object has no attribute 'k'

In [45]:
for x in range(10):
    print(x,end=' ')

0 1 2 3 4 5 6 7 8 9

In [52]:
for x in range(0,51,5):
    print(x,end=' ')

0 5 10 15 20 25 30 35 40 45 50

In [ ]:
for x in range()

In [54]:
for x in range(10,0,-1):
    print(x,end=' ')

10 9 8 7 6 5 4 3 2 1

In [62]:
score=[]
for x in range(5):
    data=int(input("성적을 입력하시오 : "))
    score.append(data)

print("입력한 성적들: " score

성적을 입력하시오 : 90
성적을 입력하시오 : 88
성적을 입력하시오 : 75
성적을 입력하시오 : 93
성적을 입력하시오 : 80

In [ ]:
int(input("성적을 입력하시오 :  "))

In [36]:
A=[x**2 for x in range(10)]

In [37]:
A

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]